{% extends "bootstrap.html" %}

{% block title %}SmartHub{% endblock %}

{% block style %}
body {
  font-family: arial, verdana, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #5A5A5A;
  margin-top: 35px;
  margin-bottom: 40px;
  height: auto;
  min-height: 100%;
  overflow-x:hidden;
}

.nav {
  background-color: #464646;
}

.nav>li>a {
  padding: 10px 25px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #00A0FA;
}

.fixed-bottom {position: fixed;bottom: 32px;width:100%;}
{% endblock %}

{% block navbar %}
<ul class="nav nav-pills navbar-fixed-bottom">
    <li id="status" class=""><a id="a_status" href="/"><span style="font-size: 12px" class="glyphicon glyphicon-tasks"></span> 状态</a></li>
    <li id="devices" class=""><a id="a_devices" href="/devices"><span style="font-size: 12px" class="glyphicon glyphicon-hdd"></span> 设备</a></li>
    <li id="crontabs" class=""><a id="a_crontabs" href="/crontabs"><span style="font-size: 12px" class="glyphicon glyphicon-bell"></span> 定时</a></li>
</ul>
{% endblock %}

{% block footer %}
<div style="color: #FFFFFF">
    <footer class="">
        <p>Copyright © 2017-2018 WYU SmartHub.</p>
        <p>All Rights Reserved.</p>
    </footer>
</div>
{% endblock %}
{% block script %}
$('#{{ id }}').addClass('active');
$("#a_{{ id }}").css("pointer-events", "none");

function footerPosition() {
  $("footer").removeClass("fixed-bottom");
  var contentHeight = document.body.scrollHeight, //网页正文全文高度
    winHeight = window.innerHeight; //可视窗口高度，不包括浏览器顶部工具栏
  if (!(contentHeight > winHeight)) $("footer").addClass("fixed-bottom");
  else $("footer").removeClass("fixed-bottom");
}
footerPosition();
{% endblock %}
