{% extends "base.html" %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timedropper.css') }}">
{% endblock %}

{% block style %}
{{ super() }}
.navbar-brand {
  height: 20px;
  font-size: 15px;
  line-height: 5px;
}

.navbar-default {
  background-color: #464646;
  border-color: #464646;
}
.navbar-default .navbar-toggle {
  border-color: #00A0B4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FAFAFA;
}
.navbar-toggle {
  padding: 7px 8px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.navbar {
  min-height: 38px;
}

.navbar-nav {
  margin: 5px;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 15px;
}

/*=====================*/
.toggle_on_off {
  position: relative;
  display: inline-block;
}
.toggle_on_off:after, .toggle_on_off:before {
  font-family: FontAwesome;
  -webkit-font-feature-settings: normal;
     -moz-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
     -moz-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
     -moz-font-language-override: normal;
          font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
.toggle_on_off label {
  width: 68px;
  height: 30px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggle_on_off label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 30px;
  border-radius: 100%;
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggle_on_off input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.toggle_on_off input:hover + label:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.toggle_on_off input:checked + label:after {
  left: 50px;
}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form role="form" action="#" autocomplete="off">
        <div class="row form-group">

          {% for crontab in crontabs %}
          <div class="col-md-6" style="margin-bottom: 30px;">
            <div style="background-color: #464646;">
              <div class="container-fluid" style="height: 40px">
                <div class="accordion" id="accordion_{{ crontab.id }}">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <!--
                      <a href="#collapse_{{ crontab.id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ crontab.id }}" style="color: #FFFFFF;text-decoration:none;">
                        <h4 style="font-size: 16px">{{ crontab.name }}</h4>
                      </a>
                        -->

                      <div class="col-xs-9">
                        <div style="color: #FFFFFF; padding-top: 3px;padding-left: 70px">
                          <h4 style="font-size: 16px">{{ crontab.name }}</h4>
                        </div>
                      </div>

                      <div class="col-xs-2">
                        <div class="spinner2" style="padding-top: 8px">
                          <div class="toggle_on_off">
                            <input id="spinner2_{{ crontab.id }}" type="checkbox" {{ crontab.status }} />
                            <label></label>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div id="collapse_{{ crontab.id }}" class="accordion-body collapse in" style="background-color: #FAFAFA">
                <div style="height: 130px">
                  <div style="padding-top: 20px">
                    <div class="row">
                      <div class="col-xs-6" style="padding-top: 10px">
                        {% if crontab.id == "power_on" %}
                        <span style="font-size: 70px; color: #00A0FA" class="glyphicon glyphicon-off"></span> {% else %}
                        <span style="font-size: 70px" class="glyphicon glyphicon-off"></span> {% endif %}
                      </div>
                      <div class="col-xs-4">
                        <div class="form-group">
                          <select id="select_{{ crontab.id }}" class="text-center" style="font-size: 18px">
                                {% if crontab.status != '' %}
                                <option>{{ crontab.repeat }}</option>
                                {% endif %}
                              {% for i in ['每天', '每周1-5', '一次性'] %}
                                    {% if crontab.status != '' and i != crontab.repeat %}
                                    <option>{{ i }}</option>
                                  {% else %}
                                      <option>{{ i }}</option>
                                  {% endif %}
                              {% endfor %}
                              <option data-toggle="modal" data-target="#custom_{{ crontab.id }}">自定义</option>
                            </select>
                        </div>
                        <div class="form-group">
                          <input id="alarm_{{ crontab.id }}" class="text-center" value="{{ crontab.time }}" type="text" style="font-size: 18px" size="8" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="custom_{{ crontab.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: transparent; margin-top: 10%; border: 0;-webkit-box-shadow: 0 0 0;box-shadow: 0 0 0;">
      <form autocomplete="off">
        <ul class="list-group">
          {% for i in "一二三四五六日" %}
            <li class="list-group-item" style="width: 50%">
                <div class="checkbox">
                    <label><input id="week_{{ crontab.id }}_{{ loop.index }}" type="checkbox" value="{{ loop.index }}">星期{{ i }}</label>
                </div>
            </li>
            {% endfor %}
        </ul>
      </form>
    </div>
  </div>
</div>
          {% endfor %}

        </div>
        <div class="form-group">
          <button id="submit" class="btn btn-success form-control" type="submit">确认</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/timedropper.js')}}"></script>
{% endblock %}

{% block script %}
{{ super() }}
// 时间选择插件
function if_alarm_null(which) {
  if ($("#alarm_" + which).val() == "") {
    $("#alarm_" + which).timeDropper();
  }
}

if_alarm_null("power_on");
if_alarm_null("power_off");

// 开启或关闭定时
function toggle_on_off(which) {
  if ($("#spinner2_" + which).prop("checked") == true) {
    $("#select_" + which).removeAttr("disabled");
    $("#alarm_" + which).removeAttr("disabled");
  } else {
    $("#select_" + which).attr('disabled', "disabled");
    $("#alarm_" + which).attr('disabled', "disabled");
  }
}

toggle_on_off("power_on");
toggle_on_off("power_off");

$("[id^='spinner2_power_']").click(function() {
  var arr = $(this).attr('id').split("_");
  var which = arr[1] + "_" + arr[2];
  toggle_on_off(which);
});

// 获得定时值
function get_data(which) {
  var alarm_val = $("#alarm_" + which).val().split(":");
  var hour = alarm_val[0];
  var minute = alarm_val[1].split(" ")[0];
  var repeat = $("#select_" + which).val();
  if (repeat == "一次性") {
    var date = new Date();
    hour = hour - date.getHours();
    if (hour < 0) hour += 24;
  }
  else if (repeat == "自定义") {
    var arr = new Array();
    for (var i = 1; i <= $("[id^='week_{0}_']".format(which))['length']; i++) {
      if ($("[id='week_{0}_{1}']".format(which, i)).prop("checked") == true) arr.push(i + '');
    }
    repeat = arr;
  }
  var data = JSON.stringify({
    "which": which,
    "status": $("#spinner2_" + which).prop("checked"),
    "hour": hour,
    "minute": minute,
    "repeat": repeat
  });
  return data;
}

var old_power_on = JSON.parse(get_data("power_on"));
var old_power_off = JSON.parse(get_data("power_off"));

function get_url(_new, old) {
  var url = null;
  if (_new.status != old.status) {
    if (_new.status == false) url = "/crontabs/delete";
    else url = "/crontabs/add";
  } else {
    if (_new.hour != old.hour || _new.minute != old.minute || _new.repeat != old.repeat) url = "/crontabs/replace";
  }
  return url;
}

function ajax_request(type, url, data) {
  $.ajax({
    type: type,
    url: url,
    async: false,
    // 1 需要使用JSON.stringify 否则格式为 a=2&b=3&now=14...
    // 2 需要强制类型转换，格式为 {"a":"2","b":"3"}
    data: JSON.stringify(data),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    beforeSend: function() {
      // loading
      $("body").append("<div class='mask'><div class='spinner' style='margin-top: 50%'></div></div>");
      // 禁用按钮防止重复提交
      $("#submit").attr("disabled", "true");
    },
    success: function(data) {
      if (data.msg == "ok") {
        $("body").append("<div class='mask'><h4 style='color: #FFFFFF;margin-top: 60%'>成功</h4><div>");
      }
    },
    complete: function() {
      window.location.reload(true);
    },
    error: function(data) {
      console.info("error: " + data.responseText);
    }
  });
}

// 确认
$("#submit").click(function(e) {
  e.preventDefault();
  var arr = new Array("power_on", "power_off");
  for (var i in arr) {
    var url = null;
    var data = JSON.parse(get_data(arr[i]));
    if (arr[i] == "power_on") old = old_power_on;
    else old = old_power_off;
    url = get_url(data, old);
    if (url != null) {
      ajax_request("POST", url, data);
      if (arr[i] == "power_on") old_power_on = JSON.parse(get_data("power_on"));
      else old_power_off = JSON.parse(get_data("power_off"));
    }
  }
});

});
{% endblock %}
