{% extends "base.html" %}

{% block style %}
{{ super() }}
.navbar-brand {
  height: 20px;
  font-size: 15px;
  line-height: 5px;
}

.navbar-default {
  background-color: #464646;
  border-color: #464646;
}
.navbar-default .navbar-toggle {
  border-color: #00A0B4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-toggle {
  padding: 7px 8px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.navbar {
  min-height: 38px;
}

.navbar-nav {
  margin: 5px;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 15px;
}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% for device in devices %}
        {% if loop.index == 1 or loop.index == 3 %}
        <div class="row">
        {% endif %}
        <div class="col-md-6">
          <div style="background-color: #FFFFFF; margin-bottom: 15px;">
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#modify-navbar-collapse{{ device.id }}">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <a id="name{{ device.id }}" class="navbar-brand" href="#" style="color: #ffffff;">{{ device.name }}</a>
                </div>
                <div class="collapse navbar-collapse" id="modify-navbar-collapse{{ device.id }}">
                  <ul class="nav navbar-nav">
                    <li><a id="{{ device.name }}" class="myModal_{{ device.id }}" href="#" style="color: #ffffff;">修改名称</a></li>
                    <li><a href="#" style="color: #ffffff;">修改图片</a></li>
                  </ul>
                </div>
              </div>
            </nav>
            <div style="margin-bottom: 10px;">
                <span style="font-size: 120px; color: #5cae4c; padding-top: 8px" class="glyphicon glyphicon-tower"></span>
            </div>
            <div style="border-style:solid; border-bottom: 1px #5A5A5A;"></div>
            <div style="height: 30px; padding-top: 3px;">
              <span class="label label-info">信息标签</span>
              <span class="label label-warning">警告标签</span>
              <span class="label label-danger">危险标签</span>
            </div>
          </div>
        </div>
      {% if loop.index == 2 or loop.index == 4 %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="bs-example bs-example-form" role="form" action="#">
          <div class="input-group">
            <input id="modify_name" type="text" class="form-control" placeholder="" />
            <span class="input-group-btn">
                    <button id="submit_name" class="btn btn-default" type="submit">
                        修改
                    </button>
                </span>
          </div>
          <div class="modal-footer">
            <input type="reset" name="reset" style="display: none;" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
var old_name = null;
$("[class^='myModal_']").click(function() {
  $('#myModal').modal('toggle');
  old_name = $(this).attr('id');
  $('#modify_name').attr('placeholder', old_name);
});

$('#myModal').on('hide.bs.modal', function() {
  //清空输入框
  $("input[type=reset]").trigger("click");
  $("#ajax_info").fadeOut("slow");
})
// 修改
$("#submit_name").click(function() {
  $.ajax({
    type: "POST",
    url: '/devices/name/' + old_name,
    async: false,
    // 1 需要使用JSON.stringify 否则格式为 a=2&b=3&now=14...
    // 2 需要强制类型转换，否则格式为 {"a":"2","b":"3"}
    data: JSON.stringify({
      name: $("#modify_name").val(),
    }),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    beforeSend: function() {
      // loading
      $("body").append("<div class='mask'><div class='spinner' style='margin-top: 50%'></div></div>");
      // 禁用按钮防止重复提交
      $("#submit_name").attr("disabled", "true");
    },
    success: function(data) {
      if (data.msg == "ok") {
        $("body").append("<div class='mask'><h4 style='color: #FFFFFF;margin-top: 60%'>修改成功</h4><div>");
        $('#name' + data.result.id).text(data.result.name);
        $('#' + old_name).attr('id', data.result.name);
      } else {
        $("body").append("<div class='mask'><h4 style='color: #FFFFFF;margin-top: 60%'>" + data.error + "</h4><div>");
      }
    },
    complete: function() {
      $("#submit_name").attr("disabled", "false");
      $(".mask").fadeOut(3000);
      $('#myModal').modal('toggle');
    },
    error: function(data) {
      console.info("error: " + data.responseText);
    }
  });
});
});
{% endblock %}
